@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 15px;}
header, nav, section		{background: #DADFE1; text-align: center;}
footer					{background: #DADFE1; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}
table					{text-align: left;}
 table, th, td 			{border: 1px solid black;}
input   				{width: 500px}


img:hover 				{color: yellow;}

#ErrorMsgs          		 { color: #f61; font-size: smaler}